<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haha.hahalearn">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <!-- 访问媒体文件需要 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 访问所有文件需要 (替代旧的READ_EXTERNAL_STORAGE) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name="com.haha.HahaApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppNoTheme"
        android:usesNonSdkApi="true">
        <activity
            android:name="com.haha.imageViewer.ImageViewerActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.main.glide.MultiPreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.haha.main.glide.SinglePreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.haha.kmp.KmpLearnActivity"
            android:exported="true"
            android:theme="@style/Theme.HahaLearn.Kmp" />
        <activity
            android:name="com.haha.binding.BindingAdapterActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.flutter.FlutterIntegrationActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.mviFrame.main.MainMVIActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.coroutineScope.CoroutineScopeActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.scene.CustomSceneSecondActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.scene.CustomSceneFirstActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.scene.SceneSecondActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.scene.SceneFirstActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.transparency.TransparencyActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.haha.network.NetworkActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.remoteviews.ShowNotificationActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.remoteviews.RemoteViewActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.gps.GpsActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.animation.AnimationActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.util.PermissionTransparentActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.waterfall.WaterFallActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.main.TestActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.dynamicTextView.DynamicTextViewActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.liveData.LiveDataActivity"
            android:exported="true" />
        <activity
            android:name="com.haha.recyclerview.RecyclerViewActivity"
            android:exported="true" />
        <activity android:name="com.haha.main.plugin.RegisteredActivity" />
        <activity
            android:name="com.haha.splash.SplashAdLandingActivity"
            android:exported="false"
            android:theme="@style/Theme.HahaLearn.NoActionBar" />
        <activity
            android:name="com.haha.main.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.settings.panel.action.INTERNET_CONNECTIVITY" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.settings.panel.action.NFC" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.settings.panel.action.WIFI" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.settings.panel.action.VOLUME" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name="com.haha.service.accessibility.CustomAccessibilityService"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_service"
            android:packageNames="com.haha.hahalearn"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service
            android:name="com.haha.service.accessibility.AccessService"
            android:exported="true"
            android:label="暗黑魔心的无障碍服务"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityService.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/allocation" />
        </service>

        <activity
            android:name="com.haha.wifi.WifiActivity"
            android:exported="true" />

        <activity
            android:name="com.haha.selector.SelectorActivity"
            android:exported="true" />

        <activity
            android:name="com.haha.volume.ui.VolumeActivity"
            android:exported="true" />

        <activity
            android:name="com.haha.speech.ui.SpeechCaptionActivity"
            android:exported="true" />

        <activity
            android:name="com.haha.easyswipemenulayout.EasySwipeMenuActivity"
            android:exported="true" />

        <activity
            android:name="com.haha.bluetooth.BluetoothActivity"
            android:exported="true" />

        <receiver
            android:name="com.haha.receiver.MainReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.haha.receiver.VolumeBroadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.haha.receiver.DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="my demo for xposed" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>